@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables


$primary: #21232F;
// Bootstrap
$sidebar-font-color: #21232F;
$sidebar-active-li: #21232F;
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css");

@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300");

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

body{
    background-color: #EFF2F7;
}


.pageContent {
    margin-left: 76px;
}

.btn-primary {
    background-color: $primary !important;
    border-color: $primary !important;
}

.imagePreview {
    width: 150px;


    height: auto;

    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
   
    
}
.btn-primary {
    min-width: 110px;

    max-height: 45px;
    display: block;
    border-radius: 0px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
    margin-top: -5px;
}
.imgUp {
    margin-bottom: 15px;
}

.del {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
.imgAdd {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4bd7ef;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
}
.deletebutton{
    height: 90px;
    border-radius: 0 10px 10px 0 !important;
}
.iconMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 46px;
    .fa-2x {
        font-size: 2em;
    }
    .fa {
        position: relative;
        display: block;
        text-align: center;
        font-size:24px;
        color: $sidebar-font-color;

    }
}

.content{
    margin-left: 76px;
}

.main-menu {
    background: #FFFFFF;
    box-shadow: 0 0 5px #e1e1e2;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 76px;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;

    z-index: 1000;
    transition: 0.3s;

    .logoBlock {
        width: 100%;
        margin: 15px 0;
        display: flex;
        justify-content: center;
    }

    .logout {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 15px;

        .log {
            a {
                &:hover {
                    background-color: #a30404;
                }
            }
        }
    }

    .profile {
        overflow: hidden;
        transition: 0.4s;

        .profileImg {
            width: 46px;
            height: 46px;
            background-size: cover;
            border-radius: 50%;
            transition: 0.4s;
        }

        &:hover {
            .profileImg {
                width: 70px;
                height: 70px;
                border-radius: 0;
            }
            a {
                transition: 0.4s;
    
                &:hover {
                    background-color: $sidebar-active-li;
                    height: 70px;
                }
            }

        }
        
        a {
            transition: 0.4s;
        }
        .email {
            margin-left: 10px;
        }
    }

    ul {
        padding: 0 15px;
        margin-top: 100px;
        list-style: none;


        li {
            position: relative;
            display: block;
            margin: 5px 0;
            z-index: 10;

            .activeMenu {
                background-color: $sidebar-active-li;
                transition: 0.4s;

                .fa {
                    color: white;
                }

                .nav-text {
                    color: white;
                }
            }

            a {
                position: relative;
                display: flex;

                align-items: center;

                border-collapse: collapse;
                border-spacing: 0;
                font-family: arial;
                font-size: 14px;
                text-decoration: none;
                transition: 0.4s;
                border-radius: 10px;
                overflow: hidden;
                height: 46px;
                width: 46px;

                &:hover {
                    background-color: $sidebar-active-li;
                    width: fit-content;

                    .fa {
                        color: white;
                    }

                    .nav-text {
                        color: white;
                    }
                }

                .nav-text {
                    position: relative;
                    display: block;
                    font-family: 'Arial', sans-serif;
                    color: $sidebar-font-color;
                    font-size: 15px;
                    font-weight: 500;
                    white-space: nowrap;
                    margin-right: 12px;
                }
            }

        }


    }


}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #0d45a5;
  }
  .selectInp{
    display: none;
    margin-right: 10px;
  }
  .btnSelect{
    margin: 35px 0;
  }
  .selectedImg{
    margin-left: 15px;
  }
//----------------------------------Categories List---------------------------------
//----------------------------------Categories List---------------------------------
.pageList{
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 40px;

    .ListColumn{
        background-color: #FFFFFF;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 0 5px #e1e1e2;
        width: 100%;
        display: flex;
        flex-direction: column;
        .tableHeader{
            display: flex;
            justify-content: space-between;
            h2{
                display: block;
                
            }
            a{
                background-color: $sidebar-font-color;
                display: flex;
                align-items: center;
                span{
                    margin-left: 10px;
                    font-weight: 500;
                }
                i{
                    font-size: 26px;
                }
            }
        }
        
        .listCategories{
            th{
                color: #686767;
                font-size: 13px;
                .allCheck{
                    font-size: 16px;
                }
            }
            td{
                color: #21232F;
                font-weight: 500;
                a{
                    cursor: pointer;
                    margin: 0 5px;
                   
                }
                .btnDelete{
                    color: #a30404;
                    font-size: 24px;
                }
                .btnEdit{
                    color: #444343;
                    font-size: 24px;
                }
            }
            .ok{
                border-radius: 15px; 
                width:fit-content; 
                background-color: green;
                padding: 1px 10px;
                span{
                    color: white;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            .no{    
                border-radius: 15px; 
                width:fit-content; 
                padding: 1px 10px;
               
                background-color: rgb(190, 7, 7);
                span{
                    color: white;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
    }
}

.loginBG {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../public/images/bg.jpg);
    filter: blur(2px);
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.loginPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .block {
        background-color: #FFFFFF;
        padding: 40px;
        width: 400px;
        border-radius: 15px;
        z-index: 2;
        position: absolute;
    }
}


.error{
    color: #a30404;
    font-size: 16px;
    height: 16px;
    margin: 4px 0;
}


input[type='checkbox']{
    margin-right: 5px;
}

.deleteBtn{
    border-radius: 20px 20px 0px 0px !important;
    width: 120px;
    height: 30px;
    padding: 0 !important;
}

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.834);
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}